:root{
  --main-bg-color:#256972 ;
}

@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:300&display=swap');
*{
  margin: 0;
  padding: 0;

}
body{
  font-family: 'Barlow Semi Condensed', sans-serif;
}


/* HEADER..................................................................... */
header{
  font-family: 'Big Shoulders Text' , cursive;
letter-spacing: 1px;
font-size: 60px;
margin-top: 5%;

}
.head{
display: grid;
grid-template-columns: 20% 1fr 10%;
justify-items: center;
text-align: left;
align-items: center;
position: relative;

}
figure{
  display: grid;
  justify-items: right;
}
.logo{
  width: 90%;
}
/* ALL APP...................................................................... */
.nav-header{
  display: grid;
  grid-auto-flow: row;
  
}
.title-page-contener{
display: grid;
justify-items: center;
align-items: center;
grid-template-columns: 1fr 1fr 1fr;
margin-top: 8%;
gap:0%
}
.title-page-contener-hardware{
  display: grid;
justify-items: center;
align-items: center;
grid-template-columns: 1fr 1fr 1fr;
margin-top: 8%;
gap:5%
}
.line-left{
  position: relative;
  width: 100%;
  height: 2px;
  background-color:var(--main-bg-color);
  background-color: var(--main-bg-color);

}
.line-left::after{
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  right: 0;
  top: -7px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}
.line-right{
  position: relative;
  width: 100%;
  height: 2px;
  background-color:var(--main-bg-color);
}
.line-right::after{
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  left: 0;
  top: -7px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}
.title-page{
  display: block;
  text-align: center;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 40px;
}
/* FOOTER................................................ */
footer{

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
 text-align: center;
 margin-top: 4%;
 margin-bottom: 4%;
 justify-items: center;
 column-gap: 30%;
}
footer div{
  width: 100%;
  line-height: 30px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.footer-lines{
  margin-top: 10%;
}

/* NAVIGATION ................................................................... */
.nav-mobile{
  display: none;
}
.nav-mobile-bar{
  display: none;
}
nav{
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 2;
  font-family: 'Barlow Semi Condensed', sans-serif;
  align-items: center;
  text-align: center;
}
/* @keyframes example {
  from{left:-250px}
  to{left: 0px;}
}
@keyframes unactive {
  from{left:-250px}
  to{left: 250;}
} */
/* nav.active{
  left: 0px;
  animation-name: example;
  animation-duration: 1s;
}
nav.unactive{
  left: -250px;
  animation-name: unactive;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}
nav.active .logo{
  width: 60px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav.unactive .logo{
  width: 60px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
nav ol{
  display: grid;
  grid-template-columns: repeat(9,1fr);
  justify-items: center;
}
nav li{
  list-style: none;
  font-size: 17px;

}
nav a {
  text-decoration: none;
}
.nav-li{
display: grid;
grid-template-columns: 1fr;
margin-top: 2%;
margin-bottom: 2%;
width: 100%;

}
.nav-li-name{
  color:black;
  letter-spacing: 1px;
  padding: 5%;
  border-radius: 10px;
  font-size: 14px;
  
}

.nav-li-name:hover{
  color:white;
  letter-spacing: 1px;
  background-color: var(--main-bg-color);
  transition: background-color 1s;
}
/* .nav-li-name:before{
  content: "";
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
}
.nav-li-name:hover:before{
  border-bottom: 2px solid #2684ff;
  */

@keyframes icone {
  from{box-shadow: 0px 0px 0px 0px var(--main-bg-color);}
  to{box-shadow: 0px 0px 2px 2px var(--main-bg-color);}
}
.nav-li-icon{
  border-radius: 50px;
  text-align: center;
  color: var(--main-bg-color) ;

}
.nav-li-icon:hover{
  animation: icone;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* MAIN ............................................................................ */

.main{
  
}
main{
margin-top: 2%;
min-height: 100vh;

}


/* ONAS............................................................................. */
.onas{

  display:grid;
  grid-template-columns:  1fr ;
  margin-top: 5%;
  justify-items: center;

}
.onas-baner{
  width: 60vw;
  height: 25vw;
  border: var(--main-bg-color) 3px solid;
  margin: 0 auto;
  border-radius: 40px;
  margin-bottom: 5%;
  position: relative;
  overflow: hidden;
  margin-top: 5%;
}
.onas p{
margin-right: 2%;
  text-align: justify;
  margin: 1%;
  margin-left: 15%;
margin-right: 15%;
}
.onas-baner div{
  width: 100%;
  height:100%;
position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-1{
animation: fade1 17s infinite; -webkit-animation: fade1 17s infinite;
}
.slider-2{
  animation: fade2 17s infinite; -webkit-animation: fade2 17s infinite;
}
.slider-3{
  animation: fade3 17s infinite; -webkit-animation: fade3 17s infinite;
}
@keyframes fade1{
0% {opacity: 1;}
33.333% {opacity: 0;}
66.666% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes fade2{
  0% {opacity: 0;}
  33.333% {opacity: 1;}
  66.666% {opacity: 0;}
  100% {opacity: 0;}
  }
@keyframes fade3{
    0% {opacity: 0;}
    33.33% {opacity:0;}
    66.66% {opacity: 1;}
    100% {opacity: 0;}
    }
/* Osoby .............................................................................. */
.persons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: 1%;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  column-gap: 5%;
}
.person-container-text-img{
  display: grid;
  grid-template-columns: 40% auto ;
  border: 3px solid var(--main-bg-color) ;
  box-shadow: 0px 0px  1px 0px #777777;
  border-radius: 40px;
  width:100%;
  margin-top:10%;
}
.person-container-img{
  width: 100%;
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  box-shadow: 0px 0px 1px 2px var(--main-bg-color);
}
.person-container-text{
  display: grid;
  grid-template-columns: 1fr ;
  width: 90%;
  justify-items: left;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
  padding: 5%;

}
.person-container-head{
  justify-self: left;
}
.persons > div{
  justify-items: left;
   
  }
  .person-container-email{
  color: var(--main-bg-color);
  text-decoration: none;
  }
/* .persons > div:nth-child(even){
  justify-items: right;
  grid-column-start:4 ;
  grid-column-end:10 ;
} */

.person-container-img:hover{
  animation: person-attention;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes person-attention {
  from{box-shadow: 0px 0px 1px 1px var(--main-bg-color)}
  to{box-shadow: 0px 0px 4px 8px var(--main-bg-color)}
}
/* OPROGRAMOWANIE........................................................ */
.hardware-software{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-items: center;
  margin-top: 10%;
}
.hardware-menu ,.software-menu{
  width: 25vw;
  height: 25vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}

.narzedzia-link{
text-decoration: none;
color: var(--main-bg-color);
text-align: center;
margin-bottom: 20px;
}

.hardware{
  display: grid;
  grid-template-columns:1fr 1fr ;
  align-content: center;
  margin-top: 10%;
  
}


.hardware-container-text-img{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  width: 100%;
  border: 3px solid var(--main-bg-color) ;
  box-shadow: 1px 1px  5px 0px #777777;
  border-radius: 40px;
  margin-top: 5%;
  

}
.hardware-container-img{
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
/* border: 3px solid rgba(255, 166, 0, 0.788); */
  border-radius: 40px;
  box-shadow: 0px 0px 1px 2px var(--main-bg-color);
}
.hardware-container-text{
  display: grid;
  grid-template-columns: 1fr ;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}
.hardware > div{
  justify-items: left;
  width: 40%;
  }


.hardware-container-img:hover{
  animation: person-attention;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes person-attention {
  from{box-shadow: 0px 0px 1px 1px var(--main-bg-color)}
  to{box-shadow: 0px 0px 4px 8px var(--main-bg-color)}
}
/* Badania........................................................................ */
.narzedzia{
  display: grid;
}
.badania-contener{
  display: grid;
  margin-top: 10%;

}
.badania-title{
text-align: left;
font-weight: bold;
margin-bottom: 2%;
margin-top: 2%;
}
.badania-text-image{
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5%;
  margin: 10%;
  margin-top: 4%;
  height: 100%;
}

.badania-text{

}
.badania-more{
color: var(--main-bg-color);
text-decoration: none;
}
.badania-more:hover{
  color: rgb(54, 178, 197);
  text-decoration: none;
  }
.badania-image{
border: var(--main-bg-color) 2px solid;
border-radius: 20px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 80%;
}
.badania-narzedzia-image{
  border: var(--main-bg-color) 2px solid;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-height: 40vh;
  }

/* PUBLIKACJE ................................................................. */
.publications{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: left;
  margin-top: 10%;
  margin-left: 3%;
}
.publications-item{
  margin-top: 5px;
  width: 100%;
  list-style-type: none;
  font-size: 14px;
}
.csl-bib-body > div{
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
}
.csl-bib-body > h3{
 margin: 4%;
}
/* OGLOSZENIA.................................................................. */
.news-contener{
  display: grid;
  grid-template-columns: 1fr ;
  width: 100%;
  justify-items: center;
}

.news-card{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  column-gap: 5%;
  width: 65%;
  min-height: 20vh;
  margin: 5%;
  padding: 3%;
  /* box-shadow: 2px  4px 4px #777777; */
  border: 2px solid var(--main-bg-color) ;
  border-radius: 20px;
}
.news-card div,h4{
  margin-top: 10px;
}

.news-card h4{
  justify-self: left;

}
.news-image-text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
}
.news-buttons{
  margin-top: 20px;
  justify-items: center;
  border-radius: 8px;

}
.news-text{

}
.news-image{
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 25vh;
  

}
.news-more{
  margin-top: 5%;
  margin-right: 40%;
  text-align: right;
  width: 100%;
  justify-items: center;
  color: var(--main-bg-color);
  text-decoration: none;
  cursor: pointer;
  
}
.news-template-contener{
  width: 100%;
}
.news-template{
  margin: auto auto;
  text-justify: left;
  margin: 5%;
}
.news-template >p{
margin-top: 3%;
width: 100%;
}
.news-template >p>img{
  margin-top: 3%;
  width: 50%;
  }
  .news-back{
    color: var(--main-bg-color);
    text-decoration: none;
    margin-right: 10%;
    width: 100%;
    text-align: right;
  }
/* Ogłoszenia ...................................................... */
.announce{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  
}
.announce-card{
  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr ;
  justify-items: center;
  width: 65%;
  margin: 5%;
  margin-bottom: 0;
  padding: 3%;
  /* box-shadow: 2px  4px 4px #777777; */
  border: 2px solid var(--main-bg-color) ;
  border-radius: 20px;
  z-index: 0;
  justify-content: center;
}
.announce-head-data{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.announce-data{
color: var(--main-bg-color);
justify-self: center;
text-align: right;
margin-top: 0;
width: 100%;
}
.announce-card>div{
  margin-top: 5%;
}
.announce-buttons-zapisz{
  background-color: var(--main-bg-color);
  color: white;
  border-radius: 50px;
  padding: 10%;
  width: 100%;
  box-shadow: 0px 0px 2px 0px #777777;
}
.announce-head{
  justify-self: left;
}
.more-information{
  display: grid;
  width: 45%;
  height: 17vh;
  margin: 0 auto;
  overflow: hidden;
}
.more-information-active{
  position: static;
  background-color: #fff;
  width: 45%;
  padding: 3%;
  /* box-shadow: 2px  4px 4px #777777; */
  border: 2px solid var(--main-bg-color);
  border-top: none;
  border-radius: 4px;
    /* przesunięcie */
  margin: 0 auto;
  z-index: 0;
  transform: translate(0%,0px);
  animation: information 1s;

 
}
@keyframes information{
  from{transform: translate(0%,-150px);}
  to{transform: translate(0%,0px);}
}
/* CONTACT................................................... */
.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  width: 100%;
  margin: 29 auto;
  margin-top: 5%;

}
.contact-photo-text{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 10%;
}
.contact-photo{
height: 25vh;
width: 140%;
border-radius: 20px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.contact-text{
  text-align: center;
  background-color:var(--main-bg-color) ;
  padding: 10%;
  width: 120%;
  height: 25vh;
  border-radius: 20px;
  color: white;
  line-height: 25px;
  margin-top: 10%;
  display: grid;
}
.iframe{
  
  width: 100%;
  margin: 0 auto;
}
iframe{
  margin-top: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.contact-form{
  display: grid;
  grid-template-columns: 1fr;
  border: var(--main-bg-color) 2px solid;
  padding: 2%;
  padding-top: 7%;
  border-radius: 20px;
  gap: 30px;
  align-items: center;
  margin-top: 5%;
  width: 80%;
  
}
.contact-form input{
  border: var(--main-bg-color) 2px solid;
  border-radius: 10px;
  padding: 6px;
  margin: 0 auto;
  width: 60%;
  
  
}
.contact-form input:focus{
  box-shadow: inset 0 0 2px 2px var(--main-bg-color);
}
.contact-form textarea{
  border: var(--main-bg-color) 2px solid;
  border-radius: 10px;
  padding: 6px;
  height: 10vh;
  margin: 0 auto;
  width: 80%;
}
.contact-form button{
  border: var(--main-bg-color) 2px solid;
  border-radius: 10px;
  padding: 6px;
  width: 100px;
  background-color: var(--main-bg-color);
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.8px;
  box-shadow: #777777 0px 0px 3px 0px;
  margin: 0 auto;
}
.contact-form button:hover{
  border: var(--main-bg-color) 2px solid;
  box-shadow: #777777 0px 0px 5px 0px;
}
/* KALENDARZ........................................................................................ */
iframe{
  width: 100%;
  background-color:var(--main-bg-color);
}
.view-container-border {
  clear: right;
  padding: 0 58px;
  position: relative;
  zoom: 1;
}

/* KALENDARZ........................................................................................ */
iframe {
  width: 80vw;
  height: 60vw;
  background-color:var(--main-bg-color);
}
iframe body {

  background-color:var(--main-bg-color);
} 
#container{
  width: 900px;
}
#container .calendar-container {
  background-color: black;
}
.calendar-container {
  background-color: black;
}


/* RESPONSYWNOSC................................ */
@media screen and (max-width: 1100px)
{
  .persons{
    display:grid;   
    grid-template-columns: 1fr;
   
  }

  .person-container-text-img{
    grid-template-columns: 30% 70%;
    width: 70%;
    
  }
}
@media screen and (max-width: 1000px)
{
  .nav-li-name{
    font-size: 12px;
    
  }

  .person-container-text-img{
    width: 80%;
  }
  .news-image-text{
    display: grid;
    grid-template-columns: 1fr;
    
  }
  .news-image{
    height: 40vh;
  }

}

@media screen and (max-width: 900px)
{
  .head{
    font-size: 25px;
  }
  .nav-mobile{
    display: grid;

  }
  .nav-mobile-bar{
    display: block;
  }
  .nav-mobile-bar-delete{
    color: var(--main-bg-color);
    cursor: pointer;
  }
  .nav-mobile-unactive{
    display: none;
  }
  .nav-mobile-active{
    position: fixed;
    border-radius: 10px;
    right: 0;
    top: 0;
    background-color: white;
    border: var(--main-bg-color) 1px solid;
    margin-left: 0;
    width: 30%;
    animation: navigation-bar 1s;
    padding-bottom: 3%;
  }
  .nav-mobile-active .nav-li-name{
    margin-top: 7%;
    border-radius: 0;
    
  }
  .contact{

    grid-template-columns: 1fr;

  }
  .contact-form{
    width: 60%;
  }
  .contact-text{
    display: grid;
margin-top: 20%;
justify-content: center;
align-items: center;
  }
  @keyframes navigation-bar{
from{top:-250px}
to{top:0}

  }

  .nav-screen{
    display: none;
  }
  nav ol{
    grid-template-columns:none;
    margin: 0;
    width: 10%;
}
  .nav-li-name{
    padding: 0;
}

};
@media screen and (max-width: 860px)
{

  .person-container-text-img{
    margin-top: 5%;
    width: 90%;
  }
}
@media screen and (max-width: 760px)
{
  

  .badania-text-image{
    display: grid;
    grid-template-columns: 1fr;
 
  }
  .badania-narzedzia-image{
   height: 30vh;
 
  }
  .person-container-text-img{
    grid-template-columns: 40% 60%;
  }
}
@media screen and (max-width: 650px)
{
  .title-page{
    font-size: 30px;
  }
  .software-menu , .hardware-menu{
    border-radius: 15px;
    margin: 0 auto;
  }
  .onas-baner {
    width: 80%;
  height: 30vh;
  }
  .persons{
    grid-template-columns: 1fr 1fr;
  }
  .person-container-text-img{
    grid-template-columns: 1fr;
  }
  .person-container-text{
    margin: 7px;
 
  }
  .person-container-text{
    margin: 7px;
 
  }
  .person-container-img{
    width: 100%;
  }
  
}
@media screen and (max-width: 550px)
{
 
  .persons{
    grid-template-columns: 1fr;

  }
  .person-container-text-img{
    width: 50%;
  }
  .person-container-img{
    width: 100%;
  }
  .person-container-text div{
    margin-bottom: 10px;
  }
  footer{
    font-size: 13px;
  }
  
}
@media screen and (max-width: 430px)
{


  .person-container-text-img{
    width: 60%;
  }

  .nav-mobile-active{
    position: fixed;
    border-radius: 10px;
    right: 0;
    top: 0;
    background-color: white;
    border: var(--main-bg-color) 1px solid;
    margin-left: 0;
    width: 100%;
    animation: navigation-bar 1s;
    padding-bottom: 3%;
    height: 100%;
  }
  .onas p{
    margin: 4%;
  }

}
@media screen and (max-width: 370px)
{
  .onas-baner {
    width: 90%;
  height: 35vh;
  }
  .person-container-text-img{
    width: 70%;
  }

}